header {
  display: inline-block;
  padding-top: 7px;
}
#margin {
  margin: 0px;
}
h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  color: maroon;
  font-family: 'Lora', serif;
}
aside {
  text-align: center
  font-family: 'Niconne', cursive;
  box-sizing: border-box;
  width: 270px;
  position: fixed;
  font-size: 25px;
  color: salmon;
  background-color: white;
  padding-left: 25px;
  background-imgage: url('images/background.jpg');
}
#aside {
 padding: 50px;
 padding-top: 0px;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  color: maroon;
  font-size: 30px;
}
nav {
  padding-top: 55px;
  padding-bottom: 70px;;
  text-align: center;
}
nav a {
  font-size: 25px;
  color: maroon;
  background-color: lightgray;
  width: 300px;
  margin: 7px;
  border-radius: 25%;
  padding: 10px;
}
main {
  text-align: center;
  position: relative;
}
#logo {
  padding-bottom: 40px;
}
#table, #new-location {
  margin-left: 300px;
  margin-right: 400px;
}
#locations {
  padding-bottom: 20px;
}
table, th, td {
  padding: 3px;
  border: 1px solid black;
}
