h1 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: maroon;
  background-color: antiquewhite;
  font-family: 'Ubuntu', sans-serif;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  color: maroon;
}
body {
  background-color: azure;
}
.salesInfo {
  text-align: center;
  font-size: 20px;
}
main {
  text-align: center;
}
#locations {
  font-size: 20px;
  padding-bottom: 15px;
}
#stores {
  font-family: Verdana;
  color: magenta;
  background: antiquewhite;
}
#description {
float: right;
font-size: 25px;
color: salmon;
background-color: white;
}
.salmon {
  float: right;
  width: 33%;
}
#images {
  float: right;
  position: relative;
}
.family {
  height: 600px;
}
.text {
  float: left;
  position: absolute;
  background-color: antiquewhite;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: mediumpurple;
}
table, th, td {
  padding: 3px;
  border: 1px solid black;
}
