/*
320px — 480px mobile
481px — 768px tablet
769px by 576px — 1024px laptop
1025px — 1200px desktop
*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

header {
  display: inline-block;
  background-color:bisque;
  padding: 8px;
  border-radius: 10%;
  margin-top: 4px;
}

h1 {
  font-size: 20px;
  line-height: .7;
  font-weight: bold;
  text-align: left;
  color: maroon;
  font-family: 'Lora', serif;
}

aside {
  text-align: center;
  width: 180px;
  position: fixed;
  font-size: 15px;
  line-height: 1.5;
  color: salmon;
  background-color: white;
}

#asideText {
 padding: 8px;
 margin: 4px;
 background-color: antiquewhite;
 border-radius: 18%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 590px;
}

img {
  padding-left: 180px;
  max-width: 265px;
  border-radius: 15%;
}

.image {
  flex-basis: 40%;
}

.text {
  font-size: 15px;
  padding: 8px;
  margin: 4px;
  line-height: 1.75;
  color: salmon;
  background-color:antiquewhite;
  border-radius: 18%;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: maroon;
  font-size: 30px;
}

nav {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 180px;
  text-align: left;
}

nav a {
  font-size: 12px;
  color: maroon;
  background-color: lightgray;
  margin: 3px;
  border-radius: 18%;
  padding: 10px;
}

main {
  text-align: center;
}

#logo {
  padding-bottom: 5px;
}

#table, #new-location {
margin-top: 18px;
}

#locations {
  padding-bottom: 20px;
}

table, td, th {
  font-size: 11px;
  padding: 3px;
  border: 1px solid black;
}

legend{
  font-size: 14px;
  margin-left: 250px;
}

form {
  font-size: 11px;
  text-align: left;
}

.a {
  margin-left: 52px;
}
.b {
  margin-left: 7px;
}
.c {
  margin-left: 10px;
}
.d {
  margin-left: 10px;
}

button {
  margin-left: 250px;
}
